<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\style.css">
</head>
<body>
    <h1>Quora</h1>
  <%  for(post of posts){ %>
        <div class="post">
            <h4 class="user">@<%= post.username %></h4>
            <h3 class="content"><%= post.content %></h3>
            <a href="http://localhost:8081/posts/<%= post.id %>">See post in detail</a>
            <br>
            <br>
            <a href="http://localhost:8081/posts/<%= post.id %>/edit">Edit post</a>
            <br> <br>
            <button>Delete post</button>
            <br> <br>
        </div>
    <%  } %> 
    <br>
    <a href="http://localhost:8081/posts/new">Create new Post</a>
</body>
</html>